*.class
*.project
*.classpath
*.prefs
cx_parent/cx_feign/target/classes/
cx_parent/cx_eureka_server/target/classes/
cx_parent/cx_gateway/target/classes/
cx_config_server/target/classes/
cx_parent/cx_eureka_client/target/
cx_common/target/classes/META-INF/MANIFEST.MF
cx_ribbon/target/classes/META-INF/maven/cn.com.cx/cx_ribbon/pom.properties
cx_ribbon/target/
cx_parent/cx_ribbon/target/
cx_eureka_client/target/
cx_parent/cx_customer_service/target/
cx_gateway/target/
